* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(30, 5, 5);
    color:aliceblue;
    padding: 20px;
}

#header-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.paragrafo-header {
    color: red;
    text-transform: uppercase;
}

nav {
    display:flex;
    gap: 20px;
    align-items: center;
}

h2 {
    font-size: 70px;
}

#main-section {
    background-color: rgb(234, 255, 0);
    padding: 30px;
    display: flex;
    gap: 150px;
    margin: 50px 30px;
}

#capa-jogo {
    width: 300px;
    height: auto;
}

#section-lutadores {
    margin: 0px 50px;
    background-color: blue;
}

#Filia {
    width: 376px;
    height: auto;

}

#galeria {
    display: flex;
    gap: 62px;
    flex-wrap: wrap;
}

.card-imagens {
    width: 30%;
    background-color: yellow;
}

#squigly {
    width: 376px;
    height: 376px;
}

#fortune {
    width: 376px;
    height: 376px;

}
